
.container {
    margin: 0 auto;
}

.models_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.model {
    border-radius: 5px;
    height: 300px;
    width: 200px;
    margin: 5px;
    padding: 5px;
    box-shadow: 0px 0px 5px inset black;
    transition: 0.5s;
    background-color: black;
    opacity: 0.2;
}

.model:hover {
    height: 300px;
    width: 200px;
    margin: 5px;
    padding: 5px;
    box-shadow: 6px 6px 9px black;
    transform: scale(1.02);
    opacity: 0.8;
    cursor: pointer;
}