.brand_model {
    text-align: center;
    padding: 5px;
    color: white;
    border-bottom: 2px solid white;
}

.type {
    color: white;
    padding: 0 10px;
    margin: 0;
    border-bottom: 1px solid white;
    border-width: 50%;
}

.underConstruction {
    font-size: 18px;
    color: blue;
}