form {
    margin: 200px auto;
    width: 300px;
    transition: 0.5s;
    background-color: #74a5c4;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 4px #153244;
}
form, button {
    text-align: center;
}

form:hover {
    transform: scale(1.2);
    box-shadow: 18px 18px 14px #153244;
}

.registrationErr {
    text-align: center;
    font-size: 12px;
    position: relative;
    bottom: 120px;
}
.registrationErr div {
    border: 2px solid #eed2d3;
    background-color:  #233f50;
    padding: 10px 20px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
}

