<div class='container'>
    <form #myForm='ngForm' (ngSubmit)="newUser(myForm)">

        <div class='form-group'>
            <input
                ngModel
                #username="ngModel"
                name="username"
                type="text"
                placeholder="new username"
                class='form-control'>
        </div>
        <div class='form-group'>
            <input
                ngModel
                #passwordInput="ngModel"
                name="password"
                type="password"
                placeholder="new password"
                class='form-control'>
        </div>
        <button
            class='btn btn-dark'>
            Register
        </button>
    </form>

    <div *ngIf="registrationError" class="registrationErr">
        <div>
            <h2>Registration failed!</h2> Possible reasons - username contains special character or is more
            than 10 characters. Password should contain at least 6 characters/digits and cant contain special
            characters.
        </div>
    </div>
</div>