<!-- ngModel iekš input lauka izveido zem hooda FormControl objektu
ngForm un ngModelGroup izveido FormGroup objektu;
ngForm vēl izdod metodi (ngSubmit), kur var saukt funkciju, kas iedarbosies uz formas submitu
-->
<div class="container">

    <form #fields="ngForm" (ngSubmit)="submit(fields)">
        <div class="form-group brandStyle">
            <label for="">
                Select a brand
            </label>
            <select required ngModel name="brand" id="" class="form-control" #brandValue #brand="ngModel"
                (change)="brandModels(brand, fields)">
                <!-- #brandValue ir priekš tā, lai pēc katra sumbita notīrītos lauks, #brand, lai sabindotu ngModel un piekļūtu 
                konkrētā inputa opcijām -->
                <option *ngFor="let brandRender of allBrands">{{brandRender}}</option>
            </select>
            <div *ngIf="quantity.touched && !brand.valid">
                <p class="alert alert-danger">This field is reqired</p>
            </div>
        </div>


        <!-- ngModelGroup var veidot sarežģītāku objektu struktūru, kur savieno konkrētos inputus zem viena propertija, konkrēti modelis un 
        daudzums -->
        <div ngModelGroup="orderData" class="orderDataStyle">
            <div class="form-group modelStyle">
                <label *ngIf="choosenBrandModels.length">Model to order</label>
                <label *ngIf="!choosenBrandModels.length" class="noModelsAvaliable">There is no models for this brand
                    added in database
                    at this moment</label>
                <select required ngModel name="model"
                    type="text"
                    class="form-control"
                    #modelValue #model="ngModel">
                    <option></option>
                    <option *ngFor="let model of choosenBrandModels">
                        {{model}}
                    </option>
                </select>
                <div *ngIf="!model.valid && model.touched">
                    <p class="alert alert-danger">This field is reqired</p>
                </div>
            </div>

            <div class="form-group quantityStyle">
                <label>
                    Select quantity
                </label>
                <input required ngModel name="quantity" type="number" class="form-control" #quantityValue
                    #quantity="ngModel">
                <div *ngIf="!quantity.valid && quantity.touched">
                    <p class="alert alert-danger">This field is reqired</p>
                </div>
            </div>
            <button [disabled]="!fields.valid" type="submit"
                class="btn btn-primary"
                (click)="modelValue.value = ''; quantityValue.value = ''; brandValue.value = ''; ">Place
                order</button>
        </div>
    </form>
    <!-- (click)="modelValue.value = ''; quantityValue.value = ''; brandValue.value = ''; " -->
</div>



<div *ngIf="orders" class="created-order">
    <div *ngFor="let order of orders" class="lastOrder">
        <div>
            {{order.brand}}
        </div>
        <div>
            {{order.model}}
        </div>
        <div>
            {{order.quantity}} pc
        </div>
        <div>
            {{order.created}}
        </div>
    </div>
</div>