<!-- ngModel iekš input lauka izveido zem hooda FormControl objektu
ngForm un ngModelGroup izveido FormGroup objektu;
ngForm vēl izdod metodi (ngSubmit), kur var saukt funkciju, kas iedarbosies uz formas submitu
-->
<div class="container-fluid">

    <form #fields="ngForm" (ngSubmit)="submit(fields)">
        <div class="form-group brandStyle">
            <label for="">
                Select a brand
            </label>
            <select required ngModel name="brand" id="" class="form-control" #brandValue #brand="ngModel"
                (change)="validation(brand)">
                <!-- #brandValue ir priekš tā, lai pēc katra sumbita notīrītos lauks, #brand, lai sabindotu ngModel un piekļūtu 
                konkrētā inputa opcijām -->
                <option value=""></option>
                <option>Bosch</option>
                <option>SMEG</option>
                <option>AEG</option>
                <option>NEFF</option>
            </select>
            <div *ngIf="quantity.touched && !brand.valid">
                <p class="alert alert-danger">This field is reqired</p>
            </div>
        </div>


        <!-- ngModelGroup var veidot sarežģītāku objektu struktūru, kur savieno konkrētos inputus zem viena propertija, konkrēti modelis un 
        daudzums -->
        <div ngModelGroup="orderData" class="orderDataStyle">
            <div class="form-group modelStyle">
                <label>Model to order</label>
                <input required ngModel name="model" type="text" class="form-control" #modelValue #model="ngModel"
                    (change)="validation(model)">
                <div *ngIf="!model.valid && model.touched">
                    <p class="alert alert-danger">This field is reqired</p>
                </div>
            </div>

            <div class="form-group quantityStyle">
                <label>
                    Select quantity
                </label>
                <input required ngModel name="quantity" type="number" class="form-control" #quantityValue
                    #quantity="ngModel" (change)="validation(quantity)">
                <div *ngIf="!quantity.valid && quantity.touched">
                    <p class="alert alert-danger">This field is reqired</p>
                </div>
            </div>

        </div>


        <button [disabled]="!fields.valid" type="submit" class="btn btn-primary"
            (click)="modelValue.value = ''; quantityValue.value = ''; brandValue.value = ''; ">Place order</button>
    </form>
</div>

<div *ngIf="orders" class="created-order">
    <div *ngFor="let order of orders" class="lastOrder">
        <div>
            {{order.brand}}
        </div>
        <div>
            {{order.model}}
        </div>
        <div>
            {{order.quantity}} pc
        </div>
        <div>
            {{order.created}}
        </div>
    </div>
</div>


<!-- <div class="container">

    <form class="form-row">
        <div class="col-3 form-group">
            <label for="brend">Brend</label>
            <select ngModel required name="brend" #brend="ngModel" (change)="log(brend)" class="form-control"
                id="brend">
                <option selected> -- Brand --</option>
                <option>Bosch</option>
                <option>SMEG</option>
                <option>AEG</option>
                <option>NEFF</option>
            </select>
            <div *ngIf="brend.touched && !brend.valid">
                <div *ngIf="brend.errors.required" class="brend-alert">
                    !
                </div>
            </div>
        </div>

        <div class="col-6 form-group">
            <label for="item">Model </label>
            <input required ngModel minlength="3" name="item" #item="ngModel" (change)="log(item)" type="text"
                class="form-control" id="item">
            <div *ngIf="item.touched && !item.valid">
                <div *ngIf="item.errors.required" class="item-alert">
                    !
                </div>
                <div *ngIf="item.errors.minlength.requiredLength" class="item-alert-length">
                    !
                </div>
            </div>
        </div>

        <div class='col-1 form-group'>
            <label for="quantity">Quantity</label>
            <input ngModel required name="quantity" #quantity="ngModel" (change)="log(quantity)" type="number"
                class="form-control" id="quantity">
            <div class="quantity-alert" *ngIf="quantity.touched && !quantity.valid">!</div>
        </div>

        <div class="col-2 form-group">
            <button type="submit" class="btn btn-primary"
                (click)="orderSubmit($event, brend.value, item.value, quantity.value) ">Place
                order</button>
        </div>
    </form>

    shows currently added/last orders
<div *ngIf="orders">
    <div *ngFor="let order of orders">

        <div class='recentlyAddedOrders'>
            <div class="lastOrder">
                <div class="lastOrderBrand">
                    {{order.brend}}
                </div>
                <div class="lastOrderItem">
                    {{order.item}}
                </div>
                <div class="lastOrderQuantity">
                    {{order.quantity}} pc
                </div>
            </div>
        </div>
    </div>
</div> -->


<!-- </div> -->