.container {
    margin-top: 80px;
    text-align: center;
}

form {
    background-color: #203647;
    width: 400px;
    margin: 0 auto;
    padding: 20px;
}

label {
    color: white;
    font-family: 'Merriweather', serif;
}


select, option, input {
    text-align: center;
    font-size: 25px;
}



.form-control, .alert {
    margin: 0 auto;
    width: 200px;
}


/* all curently added orders */
.created-order {
    width: 100%;
}
.lastOrder {
    display: flex;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Karla', sans-serif;
    justify-content: space-around;
    padding: 10px;
    box-shadow: 10px 10px 3px #185f8b;
    border: 5px solid  #185f8b;
    border-radius: 5px;
    margin: 10px;
    transition: 0.5s;
}

.lastOrder:hover {
    transform: scale(1.1);
}

/* no models to show for brand*/
.noModelsAvaliable {
    font-size: 18px;
    padding: 10px;
}


