.container-fluid {
    margin-top: 80px;
    text-align: center;
}

.container-fluid form {
    margin: auto;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 8px outset #351ca53a;
    background-color: #73a4c2;;
    padding: 10px;
}
.orderDataStyle {
    display: flex;
}


button {
    margin: 30px 0px;
    padding: 20px;
    font-size: 20px;
    text-transform: uppercase;
}

.alert {
    font-size: 12px;
    position: absolute;
    width: 200px;
    padding: 2px;
}

.brandStyle {
    background-color: black;
    margin: 5px;
    padding: 15px;
    color: white;
    font-weight: bold;
    font-size: 30px;
}

.modelStyle, .quantityStyle {
    background-color: #203647;
    padding: 15px;
    color: white;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin: 5px;
} 

.modelStyle input, .quantityStyle input {
    text-align: center;
}


/* all curently added orders */
.created-order {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}
.lastOrder {
    display: flex;
    font-weight: bold;
    font-size: 22px;
    justify-content: space-around;
    background-color: #EEFBFB;
    padding: 15px;
    box-shadow: 10px 10px 3px grey;
    margin: 4px;
    transition: 0.5s;
}

.lastOrder:hover {
    transform: scale(1.1);
}


