<div class='nav nav-tabs'>
    <a routerLink="view-models" routerLinkActive="active-link" (click)="forIntro()">View all models</a>
    <a routerLink="add-new-model" routerLinkActive="active-link" (click)="forIntro()">Add new model</a>
</div>

<!-- (click)="forIntro()" -->
<div class="intro" *ngIf="intro" @fadeInAnim>
    <h2>Informācija par datubāzi</h2>
    <ul>
        <li (click)="showStatusInfo(viewModels)" #viewModels>View models...</li><span
            *ngIf="statusInfo.viewModels">Var apskatīt visus datubāzei pievienotos modeļus.</span>

        <li (click)="showStatusInfo(newModel)" #newModel>Add new model to database...</li><span
            *ngIf="statusInfo.newModel">Pievieno jaunu modeli datubāzei. Pēc tam iespējams veikt uz šo modeli
            pasūtījumu.</span>
    </ul>
</div>
<router-outlet></router-outlet>